/*#E76030 - laranja primário
  #F68B32 - laranja secundário
  #EFEFFB - branco
  #253050 - azul primário
  #2E3C63 - azul secundário
  #000000 - preto*/

/*-----------------Normalize & Body-----------------*/
  *{
    font-family:'Poppins', sans-serif;
    box-sizing: border-box; 
    text-decoration: none;
    margin: 0;
    padding: 0;
  }
  
body{
  width: 100vw;
  height: 100vh;
  background-color: #253050;
}

/*-----------------CABEÇALHO-----------------*/

nav ul{
  list-style: none;
  width: 100%;
  padding: 15px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 30px;
  background-color: #2E3C63;
}

nav a{
  color:  #EFEFFB;
}

nav a:hover{
  color:  #F68B32;
}

/*-----------------CONTEÚDO-----------------*/
.container{
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.content{
  width: 100%;
}

.content img{
  width: 100%;

}

.content .tabela{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items:  center;
  background-color: #2E3C63;
}

.content .tab_grupo{
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items:  center;
  background-color: #253050;
  padding: 10px;
  margin: 15px;
}

.tab_grupo > h1{
  background: #FFFCFC;
  background: linear-gradient(to bottom, #FFFCFC 23%, #858585 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 500;
  font-size: 40px;
}

.tabela > h1{
  background: #FFFCFC;
  background: linear-gradient(to bottom, #FFFCFC 23%, #858585 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 500;
  font-size: 45px;
  margin-bottom: -15px ;
}

.content .tabela h6{
  color: #E76030 ;
  font-weight: 300;
  font-size: 20px;
}

 .tab_grupo .jogos{
  gap: 20px;
}

.tab_grupo .jogos h3{
  background-color: #E76030;
  border-radius: 8px 8px 0 0 ;
  padding: 5px;
  color: white;
  font-size: 15px;
  font-weight: 300;
}

.tab_grupo .jogos p{
  background-color: white;
  display: flex;
  justify-content: center;
  color: #E76030;
  font-size: 15px;
  font-weight: 600;
}

.tab_escalacao{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


.tab_escalacao h1{
  background: #FFFCFC;
  background: linear-gradient(to bottom, #FFFCFC 23%, #858585 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 500;
  font-size: 45px;
  text-align: center;
}

.escalacao{
  width: 80%;
}

/*-----------------RODAPÉ-----------------*/

.content  footer{
  background-color: #2E3C63;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items:  center;
  padding: 10px;
}

footer span{
  color: #E76030;
  text-shadow: 0px 2px 2px rgba(0, 0, 0, 1);
}

footer picture{
  width: 90px;

}


/*-----------------MEDIA QUERY-----------------*/
@media screen and (max-width: 640px){

}

@media screen and (min-width: 732px) and (max-width: 960px) {
  .tab_grupo .jogos{
    display: flex; 
    flex-direction: row;
    margin: 10px;
    width: 90%;
    justify-content: center;
  }

  .tab_grupo .jogos h3{
    width: 200px;
    text-align: center;
  }

  .content .tab_escalacao{
    padding-top: 15px;
    object-fit: cover;
  }

  .escalacao{
    width: 70%;
  }
  
}
@media screen and (min-width: 900px) and (max-width: 1023px) {
  .tab_grupo .jogos{
    display: flex; 
    flex-direction: row;
    margin: 10px;
    width: 100%;
    justify-content: space-evenly;
  }

  .tab_grupo .jogos h3 {
    font-size: 15px;
    width: 250px;
    text-align: center;
  }

  .content .tab_escalacao{
    padding-top: 15px;
    object-fit: cover;
  }

  .escalacao{
    width: 60%;
  }
  
}

@media screen and (min-width: 1024px) {
  .tab_grupo{
    padding-bottom:  20px;
  }
  .tab_grupo .jogos{
    display: flex; 
    flex-direction: row;
    margin: 10px;
    width: 100%;
    justify-content: space-evenly;
  }

  .tab_grupo .jogos h3{
    font-size: 15px;
    width: 250px;
    text-align: center;
  }

  .escalacao{
    width: 50%;
  }

}
  
  
  
  
  